# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

#
ga2v

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Images/Video
*.jpeg
#*.jpg
*.png
*.mp4
*marked.jpg
